/*********************************************************
  Styling af HTML-udtræk fra godkendelsesoversigter
  RUN: 2023-12-22


***********************************************************/






/*********************************************************

  Styling af siden generelt

***********************************************************/

/* MedCom-hjemmesidefarver*/

/* Logo- og knapgrøn: #268936 */
/* Blå Nuance af sort: #002134*/
/* Lys blå:#006CFD*/
/* Gul:#FEC34D*/
/* Grøn:#51A05E*/
/* Orange: #FA9B47*/
/* Lys blå:#D6ECCF*/
/* Kobolt blå:#006CFD*/


/* egne farver*/
/* mørk grå: 	#505050*/






/* FONT */
#font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap  ;
  src:  url(https://svn.medcom.dk/svn/drafts/Godkendelsesoversigter/HTMLresources/cario_fontweight400.woff2) format('woff2'),
        url(https://svn.medcom.dk/svn/drafts/Godkendelsesoversigter/HTMLresources/Cario2.tff) format('truetype');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*
HEADER {
  position:-webkit-sticky; 
  position: sticky; 
  top: 0;
}
*/


BODY { 
  font-family: 'Cairo', Fallback, Arial, sans-serif;  
  font-size:10pt; 
  border: 20px;
  border-color: white;
}

H1 { font-family: 'Cairo', Fallback, sans-serif; font-weight:bold; color: #000000; font-size:36pt }
H2 { font-family: 'Cairo', Fallback, sans-serif; font-weight:normal; color: #576B76; font-size:14pt }
H3 { font-family: 'Cairo', Fallback, sans-serif; font-weight:bold; color: #006CFD; font-size:14pt }
H4 { font-family: 'Cairo', Fallback, sans-serif; font-weight:normal; color: #000066; font-size:10pt }



/*********************************************************
  STYLING AF SIDENS "COVER" - OVERSKIFTER MM.
***********************************************************/


/* "cover_box" styler det øverste af siden ala medcoms hjemmeside */
/*
div[class="cover_container"]{    
  overflow: auto;
  height: 100vh;
}
*/

div[class="cover_box"]{    
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  border: 30px;
  border-color: white;
  -width: max-content;
  -display: inline-block;
  -position: sticky;
  top: 0;
  background-color: white;
  z-index: 6;
  
}

/*
div[class="cover_box"]{    
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  position: sticky;
  left: 0;
  z-index: 4;
}
*/


/* Godkendelses-logo */
#medcom-logo {
  position: relative;
}
#medcom-logo img {
  float: right;
  width: 250px;
  height: auto;
  top: 20px;
  right: 0px;
}

.blue_tags {
  padding-top: 145px;
  text-align:left;
  font-size: 12pt;
  font-family: 'Cairo', Fallback, Arial, sans-serif; 
  color: #006CFD;
  font-weight:bold;
}


div[class="updated_timestamp"] {
  padding-top: 45px;
  text-align:left;
  font-size: 18pt;
  font-family: 'Cairo', Fallback, Arial, sans-serif; 
  color: #576B76;
}




/*********************************************************

  Styling af tabel med godkendelsesoversigt

***********************************************************/

TABLE { 
font-family: 'Cairo', Fallback, sans-serif; 
font-size: 8pt;
border-collapse: collapse;
border: none;
width: 100%;
background: #F8F8F8;
} 

/* Grå linie under hver række */
tr {border-bottom: 1pt solid #F0F0F0;}

/*Hover baggrundsfarve*/
td:hover {background-color: #006CFD;}
/*tr:hover {background-color: #fffbfbc4;}*/


/* Table data*/
td { 
  --background-color:#F8F8F8;
  font-family: 'Cairo', Fallback, sans-serif;  
  --font-weight:bold; 
  font-size:11pt; 
  text-align: center;
  margin: 30 px;
  z-index: 2;
  }
  

  /* Table data*/
td { 
--background-color:#F8F8F8;
font-family: 'Cairo', Fallback, sans-serif;  
--font-weight:bold; 
font-size:11pt; 
text-align: center;
margin: 30 px;
z-index: 2;
}


/*"table_box": Box med buede kanter rundt om tabellen ala medcoms hjemmeside*/
div[class="table_box"]{    
  text-align: center;
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 40px;
  Margin: 40px;
}

/*********************************************************
  TABLE HEADERS
***********************************************************/

/* Table headers generelt*/
th { 
	position: sticky;
	top: 0;
	color:#000000; 
	background-color:#F8F8F8; 
	font-size: 12pt; 
	}
	
/*De første 3 headers*/
th:nth-child(1), th:nth-child(2), th:nth-child(3){
  background-color: #F8F8F8;
  text-align: left;
  padding-left: 10px;
  font-weight:bold;
  -color:#000000;
  font-size: 12pt !important;  
}





/*********************************************************
 3 FØRSTE TABLE COLUMNS
***********************************************************/


/*De første 3 kolonner, herunder sticky-funktion så de bliver selvom der scrolles*/

td:nth-child(1), th:nth-child(1){
  width:1%;
  padding-right: 10px;
  white-space: nowrap;
  background-color: #F8F8F8;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  width:120px;
  -top:550;
  left: 0;
  z-index: 2;
  }

  th:nth-child(1) {
    z-index: 4;
}


td:nth-child(2), th:nth-child(2){
  width:1%;
  padding-right: 10px;
  white-space: nowrap;
  background-color: #F8F8F8;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  width: 120px;
  -top:550;
  left: 180px;  /*overlay - hvor meget kolonnern går indover første kolonne styres her*/
  z-index: 2;
  }

  th:nth-child(2) {
    z-index: 4;
}


td:nth-child(3), th:nth-child(3) {
  width:1%;
  padding-right: 10px;
  white-space: nowrap;
  background-color: #F8F8F8;
  text-align: left;
  font-size:12pt;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  width:120px;
  -top:550;
  left: 325px; /*overlay - hvor meget kolonnern går indover første kolonne styres her*/
  z-index: 2;
}

th:nth-child(3) {
  z-index: 4;
}





/*********************************************************

  Styling af farvemarkeringer / godkendelsesresultaster

***********************************************************/



div[result="Godkendt"] {
  line-height: 2%;
  display: inline-block;
  width: 85px;
  padding: 13px;
  border-radius:50px;
  margin: 3px;
  
  background-color: #268936;
  color: white;
}

div[result="Ikke Godkendt"] {
  line-height: 2%;
  display: inline-block;
  white-space: nowrap;
  width: 85px;
  padding: 13px;
  border-radius:50px;
  margin: 3px;

  background-color: #cc0000cc;
  color: white;
}

div[result="Tester"] {
  line-height: 2%;
  display: inline-block;
  width: 85px;
  padding: 13px;
  border-radius:50px;
  margin: 3px;

  background-color: #FEC34D;
  color: black;
}

div[result="Obligatorisk"] {
  line-height: 2%;
  display: inline-block;
  width: 85px;
  padding: 13px;
  border-radius:50px;
  margin: 3px;

  background-color: #006CFD;
  color: white;
}

div[result="Anbefalet"] {
  line-height: 2%;
  display: inline-block;
  width: 85px;
  padding: 13px;
  border-radius:50px;
  margin: 3px;

  background-color: #76acf3;
  color: white;
}
